*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    background-color: #faf2e6;
    font-family: Bodoni;
}

.navbar {
  background-color: #faf2e6 !important;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo__header {
    font-style: oblique;
    font-size: 1.5rem;
}

.header__list .nav-link{
    margin-left: 30px;
}

.submenu {
    padding: 8px;
    margin: 3px 0;
    transition: background-color 0.3s ease;
}

.submenu:hover {
    background-color: #e2e1e1;
}

.navbar__img img {
    width: 60px;
    border-radius: 10px;

}

    /*=== SECCION === */

/* SECCION SIN IMAGENES */
.seccion__novedades {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.container__seccion {
    width: 100%;
    max-width: 100%; /* Para no limitar el ancho*/
    margin: 0;
    padding: 0;
}

.seccion__novedades .row{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.seccion__novedades .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px; /* para separar de la img */
}

.seccion__novedades h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 18px;
}

.seccion__novedades p {
    font-size: 1rem;
    color: #333;
}


/* Carisel e imagen */
.seccion__novedades img{
    width: 100%;
    height: 60vh /* Para que se me adapte la pantalla*/;
    object-fit: cover;
    border-radius: 0;
}

/* SEECCION DE TODOS LOS ANILLOS */
.catalogo {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.buscador {
    text-align: center;
    margin-bottom: 10px;
}

.buscador input {
    padding: 10px 15px;
    font-size: 16px;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Galeria en grid */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Tarjeta del producto */
.tarjeta-producto {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding-bottom: 10px;
    cursor: pointer;
}

.tarjeta-producto .precio{
    text-align: center;
}

.tarjeta-producto h3 {
    text-align: center;
    padding: 10px;
}

.tarjeta-producto .descripcion {
    text-align: center;
    color: #333;
    font-family: Garamond;
}

.tarjeta-producto:hover {
    transform: scale(1.02);
}

/* Imagen producto*/
.tarjeta-producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* === FOOTER ===*/
.footer a{
    color: #333;
    text-decoration: none;
    font-size: 0.95rem;
}

.footer a:hover{
    text-decoration: underline;
}

.footer i {
    font-size: 22px;
    color: #333;
    transition: 0.2s
}

.footer strong {
    color: rgb(226, 158, 151)
}

.footer i:hover{
    color: #25d366;
}

.footer {
    border-top: 1px solid #ddd;
}

.footer__img{
        width: 60px;
    border-radius: 10px;
}

/* Responsive: columnas en stack para móvil */
@media (max-width: 768px) {
  .seccion__novedades .row {
    flex-direction: column-reverse;
  }

  .seccion__novedades {
    padding: 30px 15px;
  }
}
